<div class="card-container">
  <h3>Blog Overview</h3>
<div class="card" style="width: 18rem;">
   <div class="card-body">
     <h2 class="card-title">Daily</h2>
     <h1 class="card-text">45%</h1>
     <!-- <span><mat-icon>update</mat-icon><h3>Update Now</h3></span> -->
   </div>
 </div>
 <div class="card" style="width: 18rem;">
   <div class="card-body">
     <h2 class="card-title" >Weekly</h2>
     <h1 class="card-text">60% </h1>
     <!-- <span><mat-icon>update</mat-icon><h3>Update Now</h3></span> -->
   </div>
 </div>
 <div class="card" style="width: 18rem;">
   <div class="card-body">
     <h2 class="card-title">Monthly</h2>
     <h1 class="card-text">80%</h1>
     <!-- <span><mat-icon>update</mat-icon><h3>Update Now</h3></span> -->
   </div>
 </div>
 <div class="card" style="width: 18rem;">
   <div class="card-body">
     <h2 class="card-title">Yearly</h2>
     <h1 class="card-text">98%</h1>
     <!-- <span><mat-icon>update</mat-icon><h3>Update Now</h3></span> -->
 </div>
</div>
 