
<div class="container">
<header style="max-width:100%">
    <div class="row top-line">
  
      <div class="col-md-3"></div>
      <div class="col-md-6 top-line-header" style="border: 0; align-content:center">
        <div class="row justify-content-center" style="padding-top:0.5em !important;"> Break Board: HCA Healthcare </div>
         </div>
  
      
      <span class="example-spacer"></span>
      <div class="col-md-2" style="float:right;padding-top:2em !important">
        <div class="row">{{myDate | date:'short'}}</div>
      </div>
      
      <div class="col-md-1" style="float:right;padding-left:2em !important">
        <div class="row"> <img sizes="1em 2em" src="../assets/PerimaticsIconSmall.png" alt="">  </div>
        <div class="row"> <span style="color:black; font-size:0.6em;">Copyright © 2020-21</span> </div>
      </div>
    </div>
    
  </header>
  <router-outlet></router-outlet>
</div>
  <br>
  <br>
  <br>
  
  
  