<div class="card-row">
<mat-card class="card">
    <mat-card-header>
      <mat-card-title>Total Walking</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        {{athlete.totalWalking}}Km
      </p>
    </mat-card-content>
  </mat-card>
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Total Running</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        {{athlete.totalRunning}}Km
      </p>
    </mat-card-content>
  </mat-card>
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Total Cycling</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        {{athlete.totalCycling}}Km
      </p>
    </mat-card-content>
  </mat-card>
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Total Participants</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        {{athlete.totalParticipants}}
      </p>
    </mat-card-content>
  </mat-card>
</div>