<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css" integrity="undefined" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
     <div class="sidenav">
        <div class="upper-content">
            <!-- <mat-icon class="adm-icon">perm_identity</mat-icon> -->
            <p>Admin</p>
        </div>
            <hr>
            <ul class="container">
            <!-- <li><a class="list-item" id="ntf" href="ntf"><mat-icon class="ntf-icon">notifications</mat-icon>Notification</a></li>
            <li><a class="list-item" id="user" href="user"><mat-icon class="usr-icon">group</mat-icon>User</a></li> -->
    </ul>
    </div>
    <main>
        <nav class="navbar navbar-expand-lg navbar-dark primary-color">
           <div class="nav-content">
               <p>Dashboard</p>
               <!-- <span class="spn-1"><input type="text" placeholder="Search for something..."><mat-icon class="srch-icon">search</mat-icon></span> -->
                <!-- <span><mat-icon>notifications_active</mat-icon></span>
                <span><mat-icon>person</mat-icon></span> -->
            </div>
            </nav>
            <!-- <div><app-teacher></app-teacher></div> -->
            <div class="main-container">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                        <th scope="col">Sr.No</th>
                        <th scope="col">ID</th>
                        <th scope="col">StravaID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Gender</th>
                        <th scope="col">Walking</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>

                        </tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <th scope="row">2</th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>

                        </tr>
                    </tbody>
                </table>
            </div>
    </main>
</body>
</html>
