
<div class="bOdyCotainer">
    <div class="container">
        <div class="info-container">
            <h3><span style="text-decoration: underline;"><b>Our Mission</b></span></h3><p><strong>M</strong>otto is to Spread Knowledge &amp; Solar Energy Resources to Society also Enable Rural India with Pedagogy in Information technology, Transformation, Jobs &amp; Services with low cost better solutions.</p></div>
    </div>
    <div class="container">
        <div class="info-container">
            <h3><span style="text-decoration: underline;"><b>Our Mission</b></span></h3><p><strong>M</strong>otto is to Spread Knowledge &amp; Solar Energy Resources to Society also Enable Rural India with Pedagogy in Information technology, Transformation, Jobs &amp; Services with low cost better solutions.</p></div>
    </div>
</div>